[2020-12-28 20:43] christopherpickering commented on #585
I think my fix causes issues w/ items like this:
[code]
will now trigger the `src-not-empty` error.

I'll tweak the pr to only trip tags that have a leading white space and see how that helps.

[2020-12-28 21:08] christopherpickering commented on #585
Maybe you can give a tip - most of the tests seem to be passing now, when I have valid template tags, except this one is still triggering the `tag-pair` error. Do you have any ideas what is causing it?

[code]

output:
[code]

[2021-01-10 17:19] Kristinita commented on #362
The problem still exists.

Thanks.

[2021-01-11 11:28] WuglyakBolgoink commented on #228
Hallo @AbdealiJK

since last month I  have some problems with `spec-char-escape`

[code]

and in my template we have something like this

[code]

do u have the same problems now?

[2021-01-13 11:01] yilmazdurmaz commented on #504
is this problem solved in v0.14.2? or still delayed for v1.0.0

[2021-01-17 09:33] Kristinita commented on #339
The problem still exists.

Thanks.

[2021-01-21 23:26] Netgator commented on #492
I am also encountering the same issues.

[2021-01-23 13:44] jamesgeddes commented on #223
Bump!

We are working on a Django project and want to use superlinter, but without this, we have had to enable `DISABLE_ERRORS` which pretty much defeats the object. Would be great to see this sometime soon.

[2021-01-27 04:47] #356 closed

[2021-02-01 04:12] #567 closed

[2021-02-06 09:15] bazzadp opened #603 "Add a check for illegal control characters"
**Is your feature request related to a problem? Please describe.**
Some of our contributors (particularly for non-latin languages) accidentally include illegal control characters in commits.

**Describe the solution you'd like**
It would be good if HTMLHint flagged these in [a similar way that the nu validator does](https://github.com/validator/validator/blob/40b5a661d2d68a309ad7c6f80b54dd521bdd0e

[2021-02-09 04:55] ckot commented on #585
Great tool, and ditto on a request for this feature. I'm using nunjucks templates, which is basically the same syntax as jinja. Although I'm wondering if it might be better to add to the rc file definition some sort of way to express file-extension-specific overrides, for example something like:

    fileTypeOverrides: {
        fileExtension: ".njk",
        ignoreBetween: [{
            start: "

[2021-02-28 08:27] dbsxdbsx commented on #223
I have the same issue.

[2021-03-02 10:56] #566 closed

[2021-03-12 04:36] Kristinita commented on #362
The problem still exists.

Thanks.

[2021-03-17 11:50] GBrachetta commented on #223
Maybe add support for per-language configuration to have a different set of rules for django-html?

[2021-03-17 15:00] hepcat72 commented on #127
How does one override super-linter's default htmlhint run to ignore files (e.g. Django's html template files that do not conform to htmlhint's requirements)?

[2021-03-19 07:21] snowinmars commented on #566
Still have same issue:

.htmlhintrc.json
[code]

[code]

Fixed with setting encoding from `UTF-8 with BOM` to `UTF-8`.

It's a shame that if a explicitly passed config is broken, the code uses defaults as if it was intended.

[2021-03-26 19:33] aravindvnair99 commented on #492
@thedaviddias @Shinigami92 Why not keep this issue open?

As pointed out by @LightCC, @ashugeo and @Netgator, my VS Code is filled with squiggly lines every time I'm working with EJS.

![image](https://user-images.githubusercontent.com/22199259/112682090-9ff77c80-8e95-11eb-84b9-3cf28bc6350d.png)

Coming to a solution, we can maybe have a check condition to see if an EJS file is being inspected ins

[2021-03-28 10:59] d892fc opened #621 "Please! Please! Please! consider add .htmlhintrc.js support"
**Is your feature request related to a problem? Please describe.**
I have different hint rules based on NODE_ENV, for example development and production.
I don't want to have two .htmlhintrc at the same time.

**Describe the solution you'd like**
Could you please add .htmlhintrc.js support?

**Describe alternatives you've considered**

**Additional context**

[2021-04-07 11:25] Shelagh-Lewins commented on #566
@snowinmars can you explain your solution please? I don't see how your config is broken - and what encoding did you change? I tried file > save with encoding > UTF8 on both my .html and .htmlhintrc files (Sublime Text 3) and I still have the same problem, that the doctype-first error is showing.

.htmlhintrc

[code]

[2021-04-07 16:26] Shelagh-Lewins commented on #566
After more investigation I found that for some reason the .htmlhintrc file in my project root wasn't being loaded, and manually specified it in my Sublime Linter settings:

    "linters": {
        "htmlhint": {
            "args": ["--config", ".htmlhintrc"]
        },
    },

[2021-04-11 21:00] audio441 commented on #223
I use template-toolkit, similar issues on parsing files with template directives. Example line that causes issues:
<input class = "tabDivButton" type="radio" name="tabSet[%global.tabSetNum%]" id="tab[%global.uid%]" [% IF chk %]checked[% END %]>

[2021-04-16 15:55] kaiwen2times opened #630 "HTMLHintClass is not a constructor error"
**Describe the bug**

In the Wiki page under [Javascript with node](https://github.com/htmlhint/HTMLHint/wiki/Usage#javascript-with-node) It denotes that
HTMLHint needs to be instantiated as follow
[code]
but this resulted in `Uncaught TypeError: HTMLHintClass is not a constructor
` error in the debug console

The instruction should be updated

**Desktop (please complete the following information)

[2021-04-19 13:00] christopherpickering commented on #585
Not stale... can any of the devs chip in?

[2021-04-22 05:07] #603 closed

[2021-04-23 10:13] JounQin opened #633 "Why types are not shipped into npm together?"
This project is written in TypeScript now, but we can't use its typings directly.

[2021-04-27 14:07] Encode42 opened #636 "Publish to Open-VSX"
**Is your feature request related to a problem? Please describe.**
I use a distribution of Visual Studio Code that doesn't include Microsoft's telemetry. Because of this, [VSCodium](https://vscodium.com/) utilizes [Open-VSX](https://open-vsx.org) as their marketplace.

**Describe the solution you'd like**
Publish to [Open-VSX](https://open-vsx.org/) alongside the VSCode marketplace.

**Additional

[2021-04-27 14:10] Encode42 commented on #636
Closed because I realized this isn't for the VSCode extension 🤦‍♂️

[2021-04-27 14:10] #636 closed

[2021-04-29 14:34] JounQin commented on #356
I think maybe [markuplint](https://github.com/markuplint/markuplint) will be the successor in the future.

[2021-05-02 20:43] openjck commented on #279
It looks like #489 is marked as completed here, but it didn't merge and there isn't another open issue about it.

[2021-05-06 02:47] anhlt2 opened #639 "Bug with javascript-with-browser"
I using example code with javascript:
`<script src="https://cdn.jsdelivr.net/npm/htmlhint@latest/dist/htmlhint.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jshint@2.10.1/dist/jshint.js"></script>
<script src="https://cdn.jsdelivr.net/npm/csslint@1.0.5/dist/csslint.js"></script>
<script>
  let messages = HTMLHint.default.verify('<ul><li></ul>', {'tag-pair': true});
  console.log(message

[2021-05-16 04:14] aravindvnair99 opened #645 "Deprecated dependencies"
[code]

[2021-05-22 01:50] Schweinepriester opened #647 "Add rules to govern attribute placement (initial line, indentation, …)"
Thanks for creating HTMLHint! :)

**Is your feature request related to a problem? Please describe.**
Considering this markup

[code]

I'd like to govern
1. in which line the first attribute is (same as the element or the next line)
   - same as the element
[code]
   - the next line
[code]
2. indentation of attributes in following lines (same as first attribute or x indent-chars)
   - same as first

[2021-05-26 04:57] thedaviddias commented on #645
Hey @aravindvnair99, thanks for pointing that out. The repo is going to be updated in the coming days. Hopefully, you will not see these messages in the near future.

[2021-05-26 04:58] thedaviddias commented on #633
@JounQin thanks for pointing that out. I will review this soon.

[2021-06-06 13:23] wpeguero commented on #165
I am also encountering this issue.

[2021-06-10 15:30] coliff commented on #542
@thedaviddias this issue should be re-opened.

For anyone who is looking for a quick fix... add this to your `.htmlhintrc`

[code]

[2021-06-10 20:58] thedaviddias commented on #531
:tada: This issue has been resolved in version 0.15.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/htmlhint/v/0.15.0)
- [GitHub release](https://github.com/htmlhint/HTMLHint/releases/tag/v0.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-11 05:28] coliff opened #652 "html-lang-require should allow just language (not require region)"
**Describe the bug**

HTMLHint 0.15.0 adds the `html-lang-require` rule. This requires both a language and a region to be set, however it is perfectly valid to use just a language on a webpage, for example `<html lang="en">` should be marked as valid. The region subtag is optional.

REF:

- https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/lang
- https://en.wikipedia.org/wiki/IET

[2021-06-11 05:56] coliff opened #653 "html-lang-require reports lots of false positives"
**Describe the bug**

The `html-lang-require` rule appears to check every single tag when running

**To Reproduce**

Run `htmlhint index.html` with 0.15.0

**Expected behavior**

Only the `<HTML>` tag should be tested for this rule

**Screenshots**

Partial screenshot form terminal output:

![image](https://user-images.githubusercontent.com/1212885/121637920-200ca600-cac5-11eb-9782-6d750238aed2.pn

[2021-06-11 09:12] derpdeveloper opened #654 "Is it possible to look up the outer HTML tag?"
Hi HTMLHint Team,

**Describe your problem**
I'm trying to make a rule where HTMLHint reports if there is a wrapper tag outside the ```strong``` tag

**E.g:**
[code]
- HTMLHint should report that there is a wrapper ```p``` tag outside the ```strong``` tag

**What I've tried**

[code]
Which logs:
<img width="816" alt="image" src="https://user-images.githubusercontent.com/85733848/121662532-ccac4f00

[2021-06-11 09:55] baleyko commented on #653
@coliff I will make a fix today.

[2021-06-11 10:53] baleyko commented on #653
fixes are in this PR: #655

[2021-06-11 10:53] baleyko commented on #652
@coliff fixes are in this PR: #655

[2021-06-11 12:15] thedaviddias commented on #654
Hey @derpdeveloper, could you explain why a `<p>` wrapping a `<strong>` tag will be an error? I may be missing something here...

[2021-06-11 12:39] derpdeveloper commented on #654
Hi @thedaviddias, thanks for replying.

No this is not an error, I'm making this custom rule only for personal use where I want to find all the ```<strong>``` tags whose text starts with "Figure:" in a big content static site.

This is because there are some cases where two or more ```<strong>``` tags are wrapped in the same ```<p>```, making them in the same line which is what I don't want.

[2021-06-11 12:50] thedaviddias commented on #653
Thanks @coliff for logging the issue and @baleyko for fixing it so quickly! I believe we can close this ticket now as it was fixed in https://github.com/htmlhint/HTMLHint/pull/655

[2021-06-11 12:54] thedaviddias commented on #652
@coliff Are we good to close this issue?

[2021-06-11 12:57] coliff commented on #652
yep. all good now I think 👍

[2021-06-11 12:57] #652 closed

[2021-06-11 13:11] coliff commented on #653
Fixed now - thanks!

[2021-06-11 13:11] #653 closed

[2021-06-16 01:51] #234 closed

[2021-06-17 13:46] chrisguttandin opened #661 "attr-sorted doesn't sort unknown tags"
**Is your feature request related to a problem? Please describe.**
The attr-sorted rule sorts a couple of [known tags](https://github.com/htmlhint/HTMLHint/blob/master/src/core/rules/attr-sorted.ts#L8-L20) but [doesn't care](https://github.com/htmlhint/HTMLHint/blob/master/src/core/rules/attr-sorted.ts#L36-L38) about those which are not on the list.

**Describe the solution you'd like**
I think it

[2021-06-18 13:18] christopherpickering commented on #585
![asdf](https://media1.tenor.com/images/932553888b70f9a1c410d50c74056ad2/tenor.gif?itemid=15102663)

[2021-06-19 17:42] thedaviddias commented on #585
@christopherpickering I "unstale" it, it should not go to stale anymore 😉

[2021-06-21 12:49] christopherpickering commented on #585
Thanks 😁 Is this something you can consider investigating?

[2021-06-29 21:44] #630 closed

[2021-06-30 09:09] estrehle opened #662 "`.htmlhintrc` silently ignored if not valid JSON"
If the `.htmlhintrc` is not valid JSON, the linter silently ignores it and uses a default config.

For example, I had made the mistake of keeping a trailing comma:

    {
        "attr-lowercase": false,
    }

The default config has `"attr-lowerclase": true` and I received a lot of unwanted errors. It took me a while to figure out that the malformatted JSON was the culprit.

It would be helpful i

[2021-06-30 14:28] sxp2high commented on #165
Any solution to this yet? This has been happening for me for months.

Whenever it happens I have to restart VS Code and it's fine for a short while, but at some point it always returns.

![escaped](https://user-images.githubusercontent.com/2714536/123978423-22756800-d9c0-11eb-9d29-e2f8306b5fd2.jpg)

[2021-07-12 17:40] dalisoft opened #664 "CVE-2020-28469 from parse-glob > glob-base > glob-parent"
**Describe the bug**
https://github.com/advisories/GHSA-ww39-953v-wcq6

**To Reproduce**
Steps to reproduce the behavior:

1. Install `htmlhint` on your nodejs package
2. Upload to GitHub (and enable security checks) or check via `npm audit`

**Expected behavior**
Secure code

**Screenshots**
-

**Desktop (please complete the following information):**

- OS: Any
- Browser: Any
- Version: v0.15.1

[2021-07-20 12:25] marwinburesch commented on #662
I agree, for example the docs [use single quotes in the examples](https://htmlhint.com/docs/user-guide/rules/attr-lowercase), but it is only valid with double quotes

[2021-07-21 08:09] Schweinepriester commented on #647
Regarding stale: Well, there was no reaction yet, so I think this should stay open until it's accepted or rejected as a feature request.

[2021-07-25 11:20] aravindvnair99 commented on #645
@thedaviddias Any updates?

[2021-07-25 15:04] aravindvnair99 commented on #645
As of today, 25th July 2021:

[code]

Version is `0.15.1`

[2021-07-27 04:12] JounQin commented on #633
cc @thedaviddias

[2021-08-08 14:02] #639 closed

[2021-08-13 21:57] JaredSartin commented on #178
pinging this again.

[2021-08-16 23:21] chrisguttandin commented on #661
I went ahead and created a PR to make sure this doesn't get stale. :-) I chose to update the existing attr-sorted rule. Please let me know if I should better create a new rule.

[2021-08-24 17:21] #654 closed

[2021-08-30 19:40] hepcat72 commented on #199
So is there a way to appease the linter in this scenario, or is this a bug for which we need to add an ignore statement?  I have the same issue with using a template variable for the `id` attribute.

[2021-08-31 12:54] coliff commented on #199
The reason is that HTMLHint was only intended to be run on final, complete, compiled HTML for the browser and as such isn't optimised to be run on partials/templates languages/framworks such as Angular, Nunjuks, Liquid or Hugo/Jekyll theme templates etc.

So the `id-class-value` rule is actually saying the id must ONLY contain lowercase letters and split by a dash and must not contain any special

[2021-08-31 13:07] coliff commented on #199
Personally, I have a `.htmlhintrc` config with stripped down rules optimised just for testing partials (I do a lot of Hugo site work which also has a lot of {{ }}). I keep that in my directory of partials so I get real-time linting from VS Code.

I then have another full `.htmlhintrc` config in the projects root and then I have a lint-html script in my `package.json` (`"lint-html": "htmlhint \"bui

[2021-08-31 14:43] hepcat72 commented on #199
Do you have any guidance on stripped down rules for testing partials?  Currently, I don't think we have any html files that aren't templates, but I see how that hierarchical config would be useful.  We decided we would just disable rules as we run afoul of them.

[2021-08-31 14:51] coliff commented on #199
partials:
[code]

compiled, minified HTML

[code]

[2021-09-06 22:09] stuartbale commented on #645
request is used in one place - the HtmlHint CLI.

https://github.com/htmlhint/HTMLHint/blob/ebaea6c5a51b977d3517e77477915f1d37e9fc52/src/cli/htmlhint.ts#L497

If someone can post what the suggested replacement for this is, I can submit a pull request.

[2021-09-06 22:24] stuartbale commented on #645
Would node-fetch be suitable?

https://www.npmjs.com/package/node-fetch

Seems to be well supported and used in >21k other packages.

[2021-09-07 17:49] JamieSlome opened #671 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-07 18:55] thedaviddias commented on #671
Thanks, I will add a SECURITY.md file.

[2021-09-08 22:14] stuartbale commented on #645
I notice a pending Pull Request with a fix for this here:
https://github.com/htmlhint/HTMLHint/pull/670

[2021-09-11 15:04] aarongoldenthal commented on #664
After looking at the nature of this vulnerability, it's limited impact to `htmlhint` itself, but for those of us with compliance requirements to verify identified vulnerabilities are not an impact it is ongoing work, especially as it gets captured in more systems ([NPM-1751](https://www.npmjs.com/advisories/1751), [CWE-400](https://ossindex.sonatype.org/vulnerability/64cd5f21-8af4-4eae-ac7d-a53241

[2021-09-13 04:41] coliff opened #682 "Update Prettier?"
Prettier is locked to "2.0.5" in package.json but later releases have many improvements and bug fixes. Can we update to the latest "2.4.0"?

And then maybe add the 'bracketSameLine': true option to the config? (makes HTML files neater)
https://prettier.io/blog/2021/09/09/2.4.0.html#html

[2021-09-16 12:35] darcyparker commented on #645
with #670 merged, can this be closed?

[2021-09-16 12:39] #645 closed

[2021-09-16 21:08] polyzen commented on #504
This is still an issue, please tag with `keep-unstale`.

[2021-09-17 13:34] thedaviddias commented on #682
👍 Sure, feel free to open a PR for that!

[2021-09-17 17:25] polyzen commented on #504
@thedaviddias, please re-open as well. :)

[2021-09-19 21:02] Schweinepriester commented on #647
Regarding stale: Well, there was no reaction yet, so I think this should stay open until it's accepted or rejected as a feature request.

[2021-09-20 06:25] coliff commented on #682
Maybe we should just add  a "^" before the version number in package.json and let dependabot take care of it...

[2021-09-23 10:30] Borosh commented on #664
This issue affect us too. I was trying to use the package in our project, but infosec won't let us, until you do something with that package. Do you know probably when is this going to happen?

[2021-09-23 16:57] #682 closed

[2021-10-03 21:31] #647 closed

[2021-10-03 21:40] Schweinepriester commented on #647
Imho this shouldn't be closed, at least not without a comment from someone.

[2021-10-05 16:03] dphillips479 commented on #23
I'm working a lot with TYPO3 and some of it's viewhelpers chain arguments separated by dots in the tag name. This will throw an error:

[code]

It would be nice if HtmlHint would let the `.` slide and I wouldn't have to deactivate tag-pair completely. I know these aren't standard tags. But it would be nice to have an option for these cases.

I would change the rule and load it as a custom one, but

[2021-10-09 06:31] lvim-tech opened #688 "How integrate to diagnostic-languageserver"
Thanks for the amazing job!

Need help - how do I integrate HTMLHint into a diagnostic-languageserver?

Thanks in advance!

[2021-10-27 21:09] reporter123 opened #697 "glob-parent >=5.1.2 introduces a DOS issue"
The fallowing is yarns audit report for HTMLHint:

[code]

1 vulnerabilities found - Packages audited: 40

After investigating I found the both parse-glob and glob-base are dead projects which have seen no commits in 7 years. glob-parent itself has been updated to fix this issue.

[2021-10-29 08:38] regseb opened #698 "Not all the rules are in the documentation"
**Is your feature request related to a problem? Please describe.**
Not all the rules are in the documentation.

The rules that aren't in [_List of rules_](https://htmlhint.com/docs/user-guide/list-rules):
- `attr-sorted`
- `attr-value-single-quotes`
- `attr-whitespace`
- `html-lang-require`
- `script-disabled`
- `tagname-specialchars`

The rules that aren't in _Individual rules_ (menu):
- `attr-no

[2021-10-29 08:55] regseb opened #699 "Duplicate version in CHANGELOG.md"
**Is your feature request related to a problem? Please describe.**
Since _0.15.2_, the changes of the releases are inserted in duplicate in [CHANGELOG.md](https://github.com/htmlhint/HTMLHint/blob/8918d96260838ed161f92366c2dc8d8873e726a6/CHANGELOG.md):

- [_chore(release): 0.15.2 [skip ci]_](https://github.com/htmlhint/HTMLHint/commit/dee8ea27615830ee85998be7101340524f0a7f09#diff-06572a96a58dc5100

[2021-10-30 13:58] #699 closed, assigned to nobody

[2021-11-03 09:48] chalkygames123 opened #701 "`tagname-specialchars` rule has an incorrect description"
Although this is not a real bug, the `tagname-specialchars` rule has an incorrect description that duplicates the `tagname-lowercase` rule: https://github.com/htmlhint/HTMLHint/blob/80243b56e90b31f22ff34a3141ecae11e245d7d1/src/core/rules/tagname-specialchars.ts#L5

[2021-11-05 21:41] stuartbale commented on #697
This is the same as the issue reported here:
https://github.com/htmlhint/HTMLHint/issues/664

[2021-11-12 04:39] #701 closed

[2021-11-12 11:42] regseb commented on #699
@coliff @thedaviddias Version _0.16.1_ are added in duplicate: https://github.com/htmlhint/HTMLHint/commit/ec2da2c0dd9c11c74a4a31629495c98997dc88f9#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4ed

[2021-11-12 11:45] coliff commented on #699
yep, I made a new PR for it.. thanks!

[2021-11-12 18:50] diegocr commented on #664
Any update on this please?

[2021-11-12 23:31] josundt commented on #664
After updating all npm packages in our fairly large web application to latest versions, `htmlhint` is now the only package causing security audit warnings.

Any 3rd party library under healthy maintenance needs respond to newly discovered security vulnerabilities by releasing hotfixes within reasonable time. This security issue has existed for many months now, I sincerely hope a fix will be priori

[2021-11-13 20:26] #199 closed

[2021-11-19 03:41] reporter123 commented on #492
This issues needs to be reopened due to being closed by the bot.

[2021-11-24 02:05] nschonni commented on #697
Closing it as a duplicate, but I'll rename the other one to make it clearer

[2021-11-24 02:05] #697 closed

[2021-11-24 02:07] nschonni commented on #664
It seems like the parse-glob package is no longer maintained, so the only way to resolve this is to replace the dependency.
Not sure if there is a new preferred library for that functionality

[2021-11-24 04:06] coliff commented on #671
Hi @JamieSlome - SECURITY.md has been added now!
https://github.com/htmlhint/HTMLHint/blob/master/SECURITY.md

[2021-11-24 04:06] #671 closed

[2021-11-24 13:52] diegocr commented on #664
fork -> rename -> fix -> release (i.e. `parse-glob2`) (?)

However, the author(s) of [parse-glob](https://github.com/micromatch/parse-glob) seem the same than the [micromatch](https://github.com/micromatch/micromatch) library which looks like more actively maintained (last updated the last month), dunno if that can be a proper replacement here, but given they're active around perhaps they will agr

[2021-11-24 15:33] nschonni commented on #664
@diegocr I don't think anyone here is offering to take over parse-glob or support a fork

[2021-11-24 16:36] diegocr commented on #664
Hold my beer ;-)

Seriously, let's wait to hear from Jon and we will see the path forward then, if in the meantime you find a proper replacement and keen on just replacing parse-glob then that's up to you guys, the easier and swiftly this is handled the better.

[2021-11-29 21:35] stuartbale commented on #664
The one area that uses parse-glob is here:
https://github.com/htmlhint/HTMLHint/blob/4b77475fabc177ecfc2deb3f38e710fe81926bff/src/cli/htmlhint.ts#L330

It appears the purpose of this function is to extract out the 'base' and 'pattern' from a given file path.
I've tried to trace through how this is then used, but very quickly got lost in the internal workings of htmlhint.

I wonder if someone could

[2021-11-30 01:48] aarongoldenthal commented on #664
The right answer may be to go the route that [Tailwind CSS](https://github.com/tailwindlabs/tailwindcss/pull/4458) did and remove `parse-glob` since it's no longer supported, bring in `is-glob` and `glob-parent` directly since they are, add fill in any missing pieces.

[2021-12-13 04:24] d892fc opened #818 "能否让 HTMLHint 支持 .js 后缀的配置文件？"
目前 HTMLHint 只支持 JSON 格式的配置文件，能否增加一个功能，让它原生支持 JS 格式的配置文件？谢谢

[2021-12-13 04:27] nschonni commented on #818
Think this is a partial duplicate of https://github.com/htmlhint/HTMLHint/issues/126

[2021-12-13 04:39] d892fc commented on #126
我坚持我的看法。
在我看来，让 HTMLHint 原生支持 .js 后缀的配置文件是理所当然的事情。

[2021-12-23 15:49] oprisyazhnaya commented on #165
Я тоже сталкиваюсь с этой проблемой.

[2021-12-23 17:18] Pomax commented on #165
Note that this issue got closed, so instead of replying it's infinitely better to create a new issue with your specific reproducible use-case.

[2021-12-25 03:44] #688 closed

[2021-12-31 17:01] #542 closed

[2022-01-06 11:47] gitrequests commented on #279
What with merge configuration (#489), still unavailable?

[2022-01-11 00:10] nvuillam opened #864 "Provide SARIF output"
**Is your feature request related to a problem? Please describe.**
I'd like to integrate html even more in MegaLinter.
This would be easier with the common OASIS SARIF output SAST format

**Describe the solution you'd like**
sarif logs :)

**Describe alternatives you've considered**
Nope

**Additional context**
If you want to do that, a library can help : [node-sarif-builder](https://github.com/nv

[2022-01-14 09:45] martin-badin commented on #633
I created PR to solve this issue #865

[2022-01-14 19:10] pdehaan opened #866 "input-requires-label should ignore type=hidden fields"
**Describe the bug**
I'm using the API to lint some remote pages and saw this error/warning message in my local logfile:

[code]

But I don't think the rule should be displaying that warning for `type=hidden` fields since that doesn't entirely make sense.

[code]

**To Reproduce**

[code]

And my .htmlhintrc file looks like this:

[code]

**Expected behavior**
`<input type="hidden">` fields should

[2022-01-14 19:24] pdehaan opened #867 "Incorrect links to rule docs"
**Describe the bug**

Also spotted that my JSON output when using the API gives me `link`s like "https://github.com/thedaviddias/HTMLHint/wiki/alt-require", which seems to redirect to generic https://github.com/htmlhint/HTMLHint homepage.
Not sure if those should redirect to the rules/*.md files directly (a la https://github.com/htmlhint/HTMLHint/blob/master/docs/user-guide/rules/alt-require.md) o

[2022-01-14 19:29] nschonni commented on #867
Looks like the source line is https://github.com/htmlhint/HTMLHint/blob/fa053d6f5df4a4523e580c03035108e5eeebbcb0/src/core/reporter.ts#L87

[2022-01-14 19:36] pdehaan opened #868 "Add all rules to the HTMLHint.defaultRuleset (but set non-enabled ones to false)"
**Is your feature request related to a problem? Please describe.**
Just started playing w/ this library today and this caused a bit of confusion (although admittedly I'm probably not using the library in the recommended way; API).

[code]

Gives me the following output:
[code]

Not all rules seem to be documented, and I was looking for a stricter set of rules so there was some trial and error. I e

[2022-01-18 15:23] lolrenx commented on #223
still alive and kicking in 2022 with django template files

[2022-01-23 16:55] #867 closed

[2022-01-23 17:03] thedaviddias commented on #867
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- [GitHub release](https://github.com/htmlhint/HTMLHint/releases/tag/v1.1.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/htmlhint/v/1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-27 13:57] #698 closed

[2022-01-27 16:57] #866 closed

[2022-01-27 17:02] thedaviddias commented on #866
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [GitHub release](https://github.com/htmlhint/HTMLHint/releases/tag/v1.1.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/htmlhint/v/1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-27 17:02] #818 closed

[2022-02-21 08:26] SDAdham opened #926 "CommonJS or AMD dependencies can cause optimization bailouts"
Hello, I am receiving this warning when building angular app. Any chance you can help please? Since adding your package and the build is too slow.

[2022-02-23 17:13] joeyparrish commented on #664
@josundt replaced the vulnerable module in #827, which has been stalled in review long enough to have merge conflicts.  I rebased it and generated the JS binaries in #927.

If you need a fix now without waiting for HTMLHint to review and merge one of these two PRs, you may add my fork as a dependency to replace the latest HTMLHint release: `github:joeyparrish/HTMLHint#1c3a7e8b`.

[2022-03-06 14:36] JuhQ opened #938 "The linter should follow unix ideology - be quiet if nothing is found"
Now the cli is being spammed with "no errors found" message, which is unnecessary. htmlhint should just be quiet when everything is fine. Only when issues are found, messages should be sent.

Please add some flag to enable such behaviour.

[2022-03-07 20:36] abejfehr opened #950 "A rule to identify self-closed tags that shouldn't be"
**Is your feature request related to a problem? Please describe.**
jQuery recently made a breaking change, detailed [here](https://jquery.com/upgrade-guide/3.5/).

The new behaviour is that sibling tags that are self-closing will now contain each other, for example:

[code]

will now become:

[code]

which is pretty unintuitive and requires me to change my Angular templates in many places to no lo

[2022-03-07 21:03] abejfehr commented on #950
I'm trying the "custom rule" approach, but there don't seem to be examples on how the rules in a custom `--rulesdir` should look. I found [this](https://github.com/htmlhint/htmlhint-loader#rulesdir) on a different repo and that's the closest thing, but specifying `--rulesdir ./rules/` doesn't seem to do anything.

I can see that the JS in my rule file is running by putting a `console.log` on line

[2022-03-07 21:06] abejfehr commented on #950
Actually [tag-pair](https://github.com/htmlhint/HTMLHint/blob/master/dist%2Fcore%2Frules%2Ftag-pair.js) seems to be the rule that I want, but it looks like it doesn't warn for custom elements as per #142

[2022-03-07 21:48] abejfehr commented on #950
If anyone's curious, rules in your custom rulesdir must look like this:

[code]

I've created a local rule called `better-tag-pair` that resolves #142 and I'm using that.

[2022-03-20 16:11] bacloud22 commented on #492
Really appreciated feature

[2022-03-21 23:59] groenroos opened #964 "Inaccurate docs for `--config` and `--ignore`"
[The `Options` section on the docs](https://htmlhint.com/docs/user-guide/usage/options) seems to be inaccurate (or I'm possibly doing something wrong!).

The first section claims that the `--config` flag can accept JS files. However, I could not make a JS-based config work no matter what I tried; only JSON-based config seems to work.

The third section claims that the `--ignore` flag accepts a **p

[2022-03-22 01:12] #664 closed

[2022-03-22 02:29] joeyparrish commented on #664
Thanks, @josundt for the fix and @thedaviddias for reviewing and merging the PR!

@thedaviddias, please let us know when the v1.1.3+ is released with the fix, so we can all update our deps.

[2022-03-22 18:44] stuartbale commented on #664
@joeyparrish - awesome work - I'm super pleased that this is finally resolved.

[2022-03-27 02:30] #864 closed

[2022-03-28 05:35] thedaviddias commented on #664
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- [GitHub release](https://github.com/htmlhint/HTMLHint/releases/tag/v1.1.3)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/htmlhint/v/1.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-31 18:30] pdehaan opened #976 "Custom reporters (or more default reporters)"
**Is your feature request related to a problem? Please describe.**
There are times when I need/want a JSON output so I can do some more parsing and filtering of results (ie: building a summary of errors by tag/type)

**Describe the solution you'd like**
I want to save the htmlhint output as JSON from the terminal instead of [colorized] plain text.
[code]

**Describe alternatives you've considered*

[2022-04-07 15:18] groenroos commented on #222
This is still an issue, and should be re-opened. As it is a [documented feature](https://htmlhint.com/docs/user-guide/usage/options), it should also be prevented from going stale.

[2022-05-14 00:52] egillespie opened #1020 "HTML file without <html>, <head>, and <body> tags pass validation"
**Describe the bug**

The `htmlhint` linter reports no errors when an HTML file containing a DOCTYPE and tags other than `<html>`, `<head>`, and `<body>`.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a file named `index.html`
2. Put the following content in it:
[code]
4. Run `htmlhint index.html`
5. See error:
[code]
6. The exit code is also `0`

**Expected behavior**

`htmlhint`

[2022-05-14 04:03] nschonni commented on #1020
None of those are required by the spec https://html.spec.whatwg.org/multipage/semantics.html#the-html-element
The w3 validator will also not complain about this https://validator.w3.org/nu/#textarea

[2022-05-14 04:03] #1020 closed

[2022-05-24 23:17] thatsIch opened #1035 "Rules are silently ignored if not valid JavaScript"
**Describe the bug**
Upon writing custom rules, we often encounter that HTMLHint does not notify us about broken rules.

**To Reproduce**

1. Define a custom rule like

[code]

**Expected behavior**
Like in https://github.com/htmlhint/HTMLHint/issues/662 it is expected, that at least some warning is shown, which rule could not be loaded.

**Additional context**

The result is to be expected due to

[2022-05-26 00:14] #926 closed

[2022-05-31 05:03] shaopeng-gh opened #1045 "Adding SARIF result format support for HTMLHint"
Hello! We are interested in adding support for output in the open-standard SARIF format to the HTMLHint. SARIF support is required to integrate it in [GitHub code scanning](https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning). Doing so would make it available to every repo in GitHub and could result in increase in user base.

More a

[2022-06-01 14:31] OnkelTem opened #1046 "No misspelled tags check?"
I'm just wondering how comes that it doesn't check for misspelled tags?

E.g. it's perfectly fine with this wrong HTML in the [playground](https://htmlhint-playground.netlify.app/):

[code]

Probably I'm missing the main idea of this linter, but if it doesn't know about correct html, then what's the point?

[2022-06-04 02:51] coliff commented on #1046
HTMLHint isn't (and doesn't claim to be) a HTML spec validator.
You can see a list of rules here: https://htmlhint.com/docs/user-guide/list-rules

If you're after a pure HTML-spec Validator then checkout: https://github.com/validator/validator

[2022-06-04 02:51] #1046 closed

[2022-06-04 09:57] OnkelTem commented on #1046
Hm, I see, thanks. Well, I actually use HTMLHint in VSCode.
It would be greate to have validator in VSCode, but I couldn't find a single one. So currently neither VSCode nor any of its extension doesn't know that `<div>` shouldn't nbe in `<ul>`.

[2022-06-08 04:09] mcm-ham commented on #161
Good issue to add keep-unstale label too?

[2022-06-11 04:08] #950 closed

[2022-06-11 04:08] #938 closed

[2022-06-17 09:55] groenroos commented on #964
This is still an issue.

[2022-06-17 11:12] coliff commented on #1045
heya @shaopeng-gh - thanks for reaching out about this. sounds interesting and I like the idea of having HTMLHint available as a GitHub code scanner. Please do feel free to make a PR with the necessary changes.

[2022-06-18 18:26] #976 closed

[2022-07-01 22:29] Schweinepriester commented on #647
I've tried and basically I would want to have my own opinion and not the whole of Prettier just for HTML-ish :P
But I shall rest my case, seeing that other tools (e.g. ESLint and Stylelint) deprecated their style rules and such…

[2022-07-26 17:49] nschonni opened #1111 "Auto-release is broken"
Tried playing with the branch rules to see if it could get unstuck, but still getting
[code]
Not sure if it's related to the PAT permissions or something else

[2022-07-27 12:29] Eluminati opened #1112 "add rule attr-ban"
**Is your feature request related to a problem? Please describe.**
Most frameworks like VUE give the possibility of a ref-attribute which should be used instead of id-attribute for example.

**Describe the solution you'd like**
A new Rule "attr-ban" which contains a list of attribute names which should not appear in the html.

[2022-07-29 14:21] coliff opened #1115 "Remove Node 12 from CI/CD"
Node v12 is no longer supported.
https://nodejs.org/en/about/releases/
I suggest we remove it from CI/CD to speed it up a bit.

We could also change v17 to v18.

[2022-08-01 02:44] #1115 closed

[2022-09-06 04:07] #662 closed

[2022-09-06 06:11] coliff opened #1147 "Fix inefficient regular expressions in code"
REF: https://lgtm.com/projects/g/htmlhint/HTMLHint/?mode=list

There are a number of Inefficient regular expressions and other related issues in the codebase.

PRs are welcome!

[2022-09-06 06:49] nschonni commented on #1147
Think they can also be seen https://github.com/htmlhint/HTMLHint/security/code-scanning

[2022-09-06 06:55] coliff commented on #1147
Those aren't visible publicly though - only to admins. That's why I linked to LGTM (even though that service is closing down later this year...)

[2022-09-14 02:22] coliff opened #1169 "Bug: Website is not updating/deploying"
We've merged several PRs to update the website in recent weeks but the site isn't deploying/updating.

For example on this page:
https://htmlhint.com/docs/user-guide/integrations/editor
it should show the link to our new official VS Code extension

If you do view-source on the page you can see:
`<meta name="generator" content="Docusaurus v2.0.0-beta.17">`
but the site's package.json references Doc

[2022-09-16 05:05] dreamalligator commented on #279
Ur a dumb robot @Mystic421980. :robot:

[2022-09-19 08:15] at6ue opened #1170 "input-requires-label rule should allow input tag nested inside label tag"
Currently, the input-requires-label rule forces the input tag to have an id attribute to associate a label tag, but the input tag without id attribute can be considered to be associated with a nested label tag.

[&lt;label&gt;: The Input Label element - HTML: HyperText Markup Language | MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label#:~:text=Alternatively%2C%20you%20can%20nest

[2022-09-19 14:59] nschonni commented on #1170
Yes, the wrapping is valid, so you don't need to turn on this rule if you're using that style. All rules are opt-in

[2022-10-03 10:34] groenroos commented on #964
@nschonni Could this issue please be re-opened and kept unstale? Thank you! 🙏

[2022-10-04 03:32] coliff commented on #1169
Fixed with: #1183
This is fixed now and site is deploying.

[2022-10-04 03:32] #1169 closed

[2022-10-12 09:50] monish-it commented on #71
what does function .getMapattrs() do?
Pls share any resources if available.

[2022-10-13 04:49] waffledonkey commented on #71
Damn that was a long time ago.  Based on a cursory examination of what I had written then, you call addRule (a method against the HTMLLint object) with an object consisting of an id, a description and an init callback which will have at it's disposal the parser and reporter object instances respectively.  mapAttrs is just a variable name I chose at the time, it holds the attributes of the tag bein

[2022-10-16 10:06] Spixmaster opened #1195 "Configuration may contain erroneous entries"
The programme does not complain about wrong keys or values in the configuration file.

[2022-10-16 17:14] nschonni commented on #1195
Duplicated of https://github.com/htmlhint/HTMLHint/issues/491

[2022-10-16 17:14] #1195 closed

[2022-10-17 06:19] coliff opened #1202 "Update Node versions used on GitHub Actions"
I suggest we drop Node v17 and maybe v14 and add v18.

For reference here are the currently supported Node versions:
https://github.com/nodejs/release#nodejs-release-working-group

[2022-10-19 06:14] nschonni commented on #1202
👍  to dropping 17, 👎 on 14 since it doesn't hit EOL till April 2023
Also good adding 18 (and 19 as of today)

[2022-10-19 06:15] nschonni commented on #1202
Would probably make sense to add `engines` to `package.json` to be explicit about the supported/tested versions

[2022-10-20 22:59] tolgahanbora commented on #492
Best stupid error ever. How can i fix that ? Core developers how can don't know that ? it's not a rocket science.

[2022-10-24 03:48] #964 closed

[2022-10-25 14:43] groenroos opened #1210 "Allow configuration of the `attr-sorted` sort order"
The `attr-sorted` rule currently has a rigid built-in order for the attributes, that cannot be changed (as far as I can see).

It would be better if this sort order array was exposed to config, so the end user project can override HTMLHint's built-in sort order with their own - in case of differing views of what order attributes should be in, and/or common project-specific custom attributes.

[2022-10-25 14:47] groenroos opened #1211 "Improve documentation of `tags-check`"
[The current documentation](https://htmlhint.com/docs/user-guide/rules/tags-check) of the `tags-check` rule is quite spartan, in that it doesn't explain in full the built-in constraints it checks for, or the way or format in which the end user project can extend or override these constraints.

I was able to understand the feature better (what exactly it does, how it can be customised, and what att

[2022-10-25 14:49] groenroos commented on #535
+1 - in each project where I've used HTMLHint, I've always instinctively looked for this rule, before I remembered it doesn't exist yet!

[2022-10-28 13:26] MartaGD opened #1212 "attr-whitespace not detected"
Hi,
**Describe the bug**
We are having problems because the plugin is not detecting the attr-whitespace error but the server Jboss7 is detecting it and we can only solve it one by one because of the error log.

**To Reproduce**
1. Install the HTMLHint plugin
2. Open the Problems view in our page, in this case a .jsp  (we already added JSP to the settings.json under document,selector)
3. We compile

[2022-10-29 03:08] nschonni commented on #1212
No, that rule flags trailing/leading space inside an attribute value. None of the attribute rules deal with the case you're describing https://htmlhint.com/docs/user-guide/list-rules#attributes

[2022-10-29 03:08] #1212 closed

[2022-10-30 00:05] thatsIch commented on #1035
I saw, that #662 was fixed with https://github.com/htmlhint/HTMLHint/commit/bad68d91317d826eca0b44af8ea794a25fc3e4fe.
I guess, that the solution could be pretty similar. I am unsure where to put the test-rules.

Maybe a new folder?

* `/test/test-rules/valid-rule.js`
* `/test/test-rules/invalid-rule.js`

[2022-11-01 07:59] shaopeng-gh commented on #1045
sorry was occupied by another task, I am back on this and start working on it, thanks.

[2022-11-08 12:24] DerZyklop opened #1227 "Comment to disable/ignore rules"
**Is your feature request related to a problem? Please describe.**
I have a existing project, i want to enable HTMLHint, but i can not, because i would have to solve every existing error in legacy code.
I would like to not change legacy code but enable HTMLHint on the project.
So, I would like to disable/ignore some rules on some lines/files.

**Describe the solution you'd like**
It’s common for s